.navegacao__item {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    display: inline;
    margin: 0 .2rem;
}

.navegacao__item a {
    color: #fdfdfd;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .navegacao__item {
        margin: 0 3rem;
    }
}