.planos__card {
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: .5rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1024px) {
    .planos__card {
        padding: 1.5rem;
    }
}