.planos__card--botao {
    background-color: #037F8C;
    border-radius: 5px;
    margin: .5rem auto;
    padding: 1rem;
    width: 50%;
}

@media screen and (min-width: 1024px) {
    .planos__card--botao {
        width: 70%;
        margin: 1rem auto;
    }    
}